# Ignore Terraform cache and plugins
.terraform/
.terraform.lock.hcl

# Ignore Terraform state files (contains sensitive data)
terraform.tfstate
terraform.tfstate.backup

# Ignore provider plugin binaries (large files)
*.zip

# Ignore Show files
show/registry.terraform.io/hashicorp/aws/terraform-provider-aws_*.zip


